.btn {
    &,
    &:link,
    &:visited {
			overflow: hidden;
			border-radius: 4px;
			position: relative;
      padding: 8px 15px; 
      margin-right: 0.2rem;
      border: solid 2px #fff;
      color: inherit;
      position: relative;
      z-index: 1;
      cursor: pointer;
      font-weight: 600;
      min-width: 80px;
      max-width: 140px;
      text-transform: uppercase;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition: border-color 0.3s, color 0.3s;

      @include desktop {
        padding: 12px 30px;
        min-width: 150px;
        max-width: 250px;
        margin-right: 2rem;
      }

    }

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 150%;
			height: 100%;
			background: #fff;
			z-index: -1;
			transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
			transform-origin: 0% 100%;
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;

		}


    &--primary {
        background: transparent;
        color: #fff;
        border: 3px solid #fff;

        &:hover {
          color: $color-secondary;
          border-color: #fff;

          &:before {
            opacity: 1;
            background-color: #fff;
            transform: rotate3d(0, 0, 1, 0deg);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          }
        }
    }

    &--secondary {
        background: $color-primary;
        color: #fff;
        border: 3px solid $color-primary;

        &:hover {
          color: $color-secondary;
          border-color: orange;

          &:before {
            opacity: 1;
            background-color: orange;
            transform: rotate3d(0, 0, 1, 0deg);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          }
        }
    }

}

.social-menu {
    background: #fff;
    display: block;
    z-index: 999999;
    position: fixed;
    top: 60vh;
    right: 0;
    padding: 6px;
    border-radius: 5px 0 0 5px;

    ul {
        list-style: none;
    }

    li {
        text-align: center;

        &:nth-child(1) {
            background: #3b5998;
            border-radius: 4px 4px 0 0 ; 
        }

        &:nth-child(2) {
            background: #25d366;
            border-radius: 0 0 4px 4px;
        }
    }

    a {
        font-size: 2rem;
        display: block;
        padding: 0.5rem;
        color: #fff;
    }
    
}

