.btn {
    &,
    &:link,
    &:visited {
			background: $primary;
			border-radius: 5px;
			color: white;
			padding: 10px 30px;
			text-transform: uppercase;
			letter-spacing: 1;
			font-weight: bold;

			cursor:pointer;
			border: none;
    }

    &:hover {
				border: 1px solid $color-primary;
				background: transparent;
				color: $primary;
    }

    &--primary {
        background: $primary;
    }

		&--outline {
				border: 1px solid $color-primary;
				background: transparent;
				color: $primary;

				&:hover {
					background: $color-primary;	
					color: $color-white;
				}
		}

    
}
