//.email {
    //background: linear-gradient(to right, 
    //rgba(0, 0, 0, .4),
    //rgba(0, 0, 0, .7),
    //url('../../assets/img/hero-bg.jpg')
    //);
//}


.email {
    margin-bottom: 1rem;
    padding: 5rem 0;
    background: linear-gradient(
    180deg, 
    rgba($color-secondary, .6) 0%,
    rgba($color-secondary, .6) 35%,
    rgba($color-secondary, .3) 100%,
    ), url(../../assets/img/banner-juntos.jpg) no-repeat center;
    background-position: cover;
    height: 370px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
        margin-bottom: 2rem;
    }

    &__container {
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: clamp(1rem, 5vw, 3rem);
        color: #fff;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-size: clamp(0.6rem, 2.5vw, 1.2rem);
        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .form__wrap {
        display: flex;
        flex-direction: column;
        max-width: 330px;

        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
    }


    form {
        z-index: 10;
    }

    input {
        width: 100%;
        padding: 12px 30px;
        border-radius: 4px;
        border: none;
        outline: none;
        height: 45px;
        width: 100%;
        width: 320px;

        @include desktop {
            min-width: 500px;
        }
    }

    button {
        margin-top: 1rem;
        width: 100%;

        @include desktop {
            margin-top: 0;
            margin-left: 1rem;
            min-width: 200px;
        }
    }
    
}
