.footer-container {
	width: 100%;
	margin-top: 0.8rem;
	z-index: -100;

	&__tittle {
		text-align: center;
		font-weight: 400;
		color: gray;
		letter-spacing: 1px;
	}
}

.footer-logos {
	padding: 0.5rem $padding-x;

	&__container {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		width: 100%;
	}
	&__img {
		width: 100%;

		&:nth-child(1) {
			margin-left: 12px;
		}
		&:nth-child(2) {
			margin-left: 20px;
		}
		&:nth-child(3) {
			margin-left: 28px;
		}
		&:nth-child(4) {
			margin-left: 20px;
		}
		&:nth-child(5) {
		}

		img {
			width: 100%;
			max-height:50px;
			object-fit: contain ;
		}
	}
}

.main-footer {
	background: $secondary;
	padding: 2rem 10px;
	color: $white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin: 0 auto;

	@include desktop {
		grid-template-columns: 1fr 1fr 2fr;
		padding: 3rem $padding-x;
	}

	&__info {
	}

	&__links {
		color: $white;
		display: block;

		&:hover {
			color: $primary;
		}
	}

	&__datos {
		margin-top: 1rem;
		padding-bottom: 10px;

		p {
			margin-top: 0.3rem;
			font-size: 13px;
		}

	}

	&__visa {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		width: 100%;
		margin-top: 0.5rem;
		
		img {
			margin-right: 8px;
		}
		
	}

	&__social {
		margin-top: 10px;
		display: flex;
	}

	&__icon {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		color: $primary;
		background: $white;
		line-height: 1.5rem;
		margin-right: 8px;
		font-size: 1rem;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		&:hover {
			background: $primary;
			color: $white;
		}
	}

	&__map {
		overflow: hidden;
		height: 200px;
		display: none;
		border-radius: 4px;

		@include desktop {
			display: table;
		}
	}

	&__copy {
		align-text: center;
		border: 1px solid orange;
	}

	&__copy-text {
		text-align: center;
	}
}

.footer-copy {
	background: $secondary;
	color: $white;
	padding: 0 10px;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__text1 {
		font-size: 12px;
		text-align: center;
	}

	&__text2 {
		font-size: 12px;
		text-align: center;

		@include desktop {
			margin-left: 5px;
		}
	}

	@include desktop {
		flex-direction: row;
		padding: 0rem $padding-x;
		padding-bottom: 2rem;
	}
}
