
.footer-logos {
	padding: 1rem 0;

	&__container {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		width: 100%;
	}
	&__img {
		width: 100%;

		&:nth-child(1) {
			margin-left: 12px;
		}
		&:nth-child(2) {
			margin-left: 20px;
		}
		&:nth-child(3) {
			margin-left: 28px;
		}
		&:nth-child(4) {
			margin-left: 20px;
		}
		&:nth-child(5) {
		}

		img {
			width: 100%;
			max-height:50px;
			object-fit: contain ;
		}
	}
}

.main-footer {
		background: $color-secondary;
		padding: 3rem 0;
	&__content {
		color: $white;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin: 0 auto;

		@include desktop {
			grid-template-columns: 1fr 1fr 2fr;
		}

	}

	&__info {
	}

	&__links {
		color: $white;
		display: block;

		&:hover {
			color: $primary;
		}
	}

	&__datos {
		padding-bottom: 10px;

		p {
			margin-top: 0.3rem;
			font-size: 12px;
		}

		h5 {
			font-size: 1rem;
		}

	}

	&__visa {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		margin-top: 0.5rem;

		figure {
			width: 70px;
			height: 40px;
		}
		
		img {
		}
		
	}

	&__social {
		margin-top: 10px;
		display: flex;
	}

	&__icon {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		color: $primary;
		background: $white;
		line-height: 1.5rem;
		margin-right: 8px;
		font-size: 1rem;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		&:hover {
			background: $primary;
			color: $white;
		}
	}

	&__map {
		overflow: hidden;
		height: 200px;
		display: none;
		border-radius: 4px;

		@include desktop {
			display: table;
		}
	}

	&__copy {
		align-text: center;
		border: 1px solid orange;
	}

	&__copy-text {
		text-align: center;
	}
}

.footer-copy {
	background: $secondary;
	color: $white;
	padding: 0 10px;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__text1 {
		font-size: 11px;
		text-align: center;
	}

	&__text2 {
		font-size: 11px;
		text-align: center;

		@include desktop {
			margin-left: 5px;
		}
	}

	@include desktop {
		flex-direction: row;
		padding: 0rem $padding-x;
		padding-bottom: 2rem;
	}
}

.catalogo-footer {
	margin-top: 0.3rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	gap: 8px;

	@include desktop {
		gap: 20px;
	}

	&__item {
		width: 100%;
		transition: all 0.3s;

		&:hover {
			transform: translateY(-5px) scale(1.06);

		}
	}

	figure {
		width: 100%;
		height: 100px;
		cursor: pointer;
		
	}

	span {
		background: $color-white;
		width: 100%;
		color: $color-secondary;
		display: block;
		text-align: center;
		border-bottom-right-radius: 8px;
	}
}
