
.footer-logos {
	padding: 1.3rem 0;

	&__tittle {
		text-align: center;
		color: $color-gray-dark-1;
		font-size: 13px;

		@include desktop {
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		width: 100%;
	}
	&__img {
		width: 100%;

		&:nth-child(1) {
			margin-left: 12px;
		}
		&:nth-child(2) {
			margin-left: 20px;
		}
		&:nth-child(3) {
			margin-left: 28px;
		}
		&:nth-child(4) {
			margin-left: 20px;
		}
		&:nth-child(5) {
		}

		img {
			width: 100%;
			max-height:50px;
			object-fit: contain ;
		}
	}
}

.main-footer {
		background: $color-secondary;
		padding: 2rem 0;
		border-bottom: $border-gray;

	&__content {
		color: $white;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		margin: 0 auto;

		@include desktop {
			grid-template-columns: 1fr 1fr 2fr;
		}

	}

	&__info {
		display: grid;
		grid-template-columns: 1fr;

		&:nth-child(1) {
			order: 1;
		}

		&:nth-child(2) {
			order: 0;
		}

		@include desktop {

			&:nth-child(1) {
				order: 0;
			}

			&:nth-child(2) {
				order: 1;
			}

			&:nth-child(3) {
				order: 2;
			}
		}

	}

	&__datos {
		text-align: center;
		margin-bottom: 0.5rem;

		p {
			font-size: clamp(12px, 2.5vw, 14px);

		}

		h5 {
			font-size: 1rem;
		}

		@include desktop {
			text-align: left;
		}

	}

	&__visa-container {
		display: none;

		@include desktop {
			display: block;
		}

	}

	&__visa {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		margin-top: 0.5rem;
		

		figure {
			width: 70px;
			height: 40px;
		}
		
		img {
		}
		
	}

	&__social-container {
		margin-top: 1rem;

		h5 {
			display: none;
		}

		@include desktop {
			margin-top: 0;
			h5 {
				display: block;
			}
		}
		
	}

	&__social {
		display: flex;
		justify-content: center;

		@include desktop {
			justify-content: flex-start;
			margin-top: 0.3rem;

		}
	}

	&__icon {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		color: $primary;
		background: $white;
		line-height: 1.5rem;
		margin-right: 8px;
		font-size: 1rem;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		&:hover {
			background: $primary;
			color: $white;
		}
	}

	&__info:last-child {
	}

	&__map {
		overflow: hidden;
		height: 100%;
		display: none;
		border-radius: 4px;
		
		iframe {
			height: 100%;
		}

		@include desktop {
			display: table;
		}
	}
}

.footer-copy {
	background: $secondary;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0;

	&__text1 {
		font-size: 10px;
		text-align: center;
	}

	&__text2 {
		font-size: 9px;
		text-align: center;

		@include desktop {
			margin-left: 5px;
		}
	}

	@include desktop {
		flex-direction: row;
	}
}

.catalogo-footer {
	margin-top: 0.3rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	gap: 8px;

	@include desktop {
		gap: 20px;
	}

	&__item {
		width: 100%;
		transition: all 0.3s;

		&:hover {
			transform: translateY(-5px) scale(1.06);

		}
	}

	figure {
	}

	img {
		width: 100%;
		height: auto;
	}

	span {
		background: $color-white;
		width: 100%;
		color: $color-secondary;
		display: block;
		text-align: center;
		border-bottom-right-radius: 8px;
	}
}
