*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	color: $color-gray-dark-3;
}
