@import '../utilities/utilities';

.header-bg-contact {
    background:$header-bg-color, url(../../assets/img/banner-contact.jpg) no-repeat center;
    background-size: cover;
}

.contact-container {

    &__inf {
        text-align: center;
        margin-bottom: 2rem;

        p {
            margin-bottom: 0.4rem;
            font-weight: 500;
            letter-spacing: 0.5;

            &:nth-child(2) {
                font-size: 1rem;
                font-weight: 600;
            }

            &:nth-child(3) {
                font-size: 12px;
            }

            &:nth-child(4) {
                font-style: italic;
                font-weight: 600;
            }
        }

    }
}

.contact {
    color: $color-gray-dark-1;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr ;

    @include desktop {
       grid-template-columns: 1fr 1fr;
    }

    h2 {
       color: $color-black;
    }


    &__info {
       width: 100%;
       height: 100%;
       order: 2;
       padding: 1rem;
       border-right: 1px solid rgba(129, 129, 129, 0.2);
       display: none;

       @include desktop {
           display: block;
       }

       figure {
       }

       img {
           object-fit: contain;
       }

       @include desktop {
       }
    }

    &__form {
        padding: 1rem;
        height: 100%;
        border-width: 1px;

        @include desktop {
        }
    }

    &__input-text {
        border: 1px solid rgba(129, 129, 129, .2);
        border-right: none;
        border-left: none;
        border-top: none;
        height: 25px;
        border-radius: none;
        padding: 5px;
        background-color: transparent;
        width: 100%;

        &:focus{outline: none;}
    }

    p {
    }

    &__input-submit {
        height: 35px;
        width: 100%;
        background: $color-thirdy;
        color: $color-secondary;
        border: none;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.3s;

        &:hover {
            background: darkorange;
        }
    }


    &__input-textarea {
        margin-top: 0.5rem;
        border: 1px solid rgba(129, 129, 129, .2);
        width: 100%;
        &:focus{outline: none;}
        padding: 5px;
    }

}

