.main-section {
  background: rgba(247, 247, 247);
  padding-bottom: 1rem;
  &__header {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    padding: 15px 0;
    height: 120px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1;
    }

    @include desktop {
      padding: 100px 0;
    }


  }

  h1 {
    color: $color-white;
    font-size: clamp(1.3rem, 2.5vw, 2.5rem);
    text-transform: uppercase;
    letter-spacing: 2;
  }

  &__container {
    margin: 2rem 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr); 
    gap: 0.3rem;

    @include desktop {
      grid-template-columns: repeat(6, 1fr);
      gap: 0.8rem;
    }
  }

}

.nav-section {
  a {
    color: $color-gray-dark-1;
    font-style: italic;
  }
  &__link {
    &:before {
      content: '/';
      margin-right: 0.3rem;
      font-weight: normal;
      color: $color-gray-dark-1;
    }

    &--active {
      font-weight: bold;
      color: #000 !important;
    }
  }
}

.product {
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__img {
    position: relative;
    }

  figure {
    cursor: pointer;
    &:after {
      content: '\f00e';
      position: absolute;
      width: 30px;
      height: 30px;
      display: block;
      right: -80px;
      top: 5;
      background: $color-thirdy;
      color: #fff;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-style: normal;
      text-align: center;
      line-height: 30px;
      transition: all 0.3s ease-in-out;
    }

    &:before {
      content: 'COMPRAR';
      position: absolute;
      color: #fff;
      text-align: center;
      line-height: 30px;
      width: 100%;
      background: $color-thirdy;
      height: 30px;
      bottom: -20px;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &:before {
        bottom: 0;
        opacity: 1;
      }
    }

    &:hover {
      &:after {
        right: 5px;
      }
    }
    

    img {
      height: auto;
    } 
  }

  &__info {
    padding: 0px 5px 5px 5px;
    min-height: 70px;
  }

  &__tittle {
    text-align: center;
    font-size: clamp(0.75rem, 2vw, 0.8rem);
    min-height: 25px;
    overflow: hidden;
    text-transform: uppercase;

    @include desktop {
      min-height: 40px;
    }
  }

  &__shop {
    margin-top: 0.4rem;
    display: flex;
    text-transform: none;
    text-align: left;
  }

  a {
    height: 100%;
    margin-right: 5px;

    &:hover {
      transform: scale(1.1) translateY(-5px);
      transition: all 0.3s ;

      i {
        background: rgba(255, 150, 0);
      }
    }
  }

  i {
    vertical-align: center;
    background: $color-thirdy;
    color: #fff;
    padding: 10px;
    border-radius: 4px;

  }
  
  &__category {
    color: gray;
    font-size: clamp(0.55rem, 2vw, 0.7rem);
  }

  &__price {
    font-size: 0.5rem;
    color: $color-gray-dark-1;
  }

  strong {
    color: $color-primary;
    font-size: 0.8rem;
    margin-right: 2px;
  }
} 
