.main-section {
  &__header {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    padding: 15px 0;
    height: 100px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1;
    }

    @include desktop {
      padding: 100px 0;
    }


  }

  h1 {
    color: $color-white;
    font-size: clamp(1.3rem, 2.5vw, 2.5rem);
  }

  &__container {
    margin: 2rem 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;

    @include desktop {
      grid-template-columns: repeat(6, 1fr);
      gap: 0.8rem;
    }
  }

}

.nav-section {
  a {
    color: $color-gray-dark-1;
    font-style: italic;
  }
  &__link {
    &:before {
      content: '/';
      margin-right: 0.3rem;
      font-weight: normal;
      color: $color-gray-dark-1;
    }

    &--active {
      font-weight: bold;
      color: #000 !important;
    }
  }
}

.product {
  position: relative;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  
  @include desktop {
  }


  &__img {
  }

  figure {
    overflow: hidden;
    cursor: pointer;

    @include desktop {
    }

    &:before {
      position: absolute;
      content: 'Comprar'; 
      padding: 0.5rem 0.3rem;
      display: block;
      width: 100%;
      background-color: $color-thirdy;
      color: #fff;
      left: 0;
      bottom: -100%;
      text-align: center;
      transition: all 0.3s ease;
    }

    &:after {
      content:'\f002';
      padding: 0.5rem;
      font-family: 'Font Awesome 5 Free';
      background: $color-thirdy;
      font-size: 1rem;
      color: #fff;
      position: absolute;
      display: block;
      top: 10;
      right: -100%;
      font-weight: 900;
      transition: all 0.3s ease;
    }

    &:hover {
     &:before {
       bottom: 0;
     } 

     &:after {
       right: 10;
     }
    }
  }
  

  img {
    width: 100%;
    height: auto;
  }

  &__shop {
    display: flex;
    padding: 6px;
    align-items: center;

    i {
      width: 30px;
      height: 30px;
      background: $color-thirdy;
      color: #fff;
      line-height: 30px;
      border-radius: 4px;
      text-align: center;
      margin-right: 0.3rem;
      font-size: 0.7rem;

      @include desktop {
        margin-right: 0.6rem;
      }

    }
    
  }


  &__info {
    color: $color-gray-dark-3;
    display: flex;
    justify-content: center;
  }

  &__tittle {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-transform: uppercase;
    text-align: center;
  }

  &__category {
    font-size: 0.6rem;

    @include desktop {
      font-size: 0.7rem;
    }
  }

  &__code {
    font-size: 0.6rem;
    font-weight: lighter;
    color: $color-gray-dark-1;
    text-transform: uppercase;
  }

  &__price {
    color: $color-gray-dark-1;
    font-size: 0.7rem;

    strong {
      color: $color-primary;
    }

    @include desktop {
      position: static;
    }
  }
}

.btn-section {
  border: 1px solid orange;
}
