
$font-family: 'Poppins', sans-serif; 
$padding-x :calc((100vw - 1200px)/2);
$border-bottom-gray : 1px solid rgba(129, 129, 129, 0.2);
$border-gray : 1px solid rgba(129, 129, 129, 0.5);
//Colors
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$primary:       #fc3c40 !default;
$secondary:     #1f0038 !default;
$success:       green !default;
$info:          cyan !default;
$warning:       yellow !default;
$danger:        red !default;
$light:         #fff !default;
$dark:          #000 !default;

$white:         #fff;
$black:         #000;


$color-primary: #fc3c40;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #1f0038;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-thirdy: orange;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ddd;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Media Queries
@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
};

@mixin desktop {
	@media screen and (min-width: 768px) {
		@content;
	}
};

