.contact-container {
    &__header {
        height: 350px;
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    &__tittle {
       position: absolute; 
       top: 50%; 
       left: 50%;
       transform: translate(-50%, -50%);
       color: $color-white;
       text-transform: uppercase;
       font-size: clamp(2rem, 8vw, 3rem);
       text-align: center;
    }

    img {
        object-fit: cover;
    }

    &__inf {
        margin-top: 4rem;
        text-align: center;

        p {
            margin-bottom: 0.4rem;
            font-weight: 500;
            letter-spacing: 0.5;

            &:nth-child(2) {
                font-size: 1.2rem;
                font-weight: 600;
            }

            &:nth-child(3) {
                font-size: 12px;
            }

            &:nth-child(4) {
                font-style: italic;
                font-weight: 600;
            }
        }

    }

    button {
        margin-top: 0.5rem;
    }
}

.contact {
    color: $color-gray-dark-1;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include desktop {
        flex-direction: row;
        align-items: center;
    }

    h2 {
        color: $color-black;
    }

    i {
        color: $color-black;
        padding-right: .3rem;
    }

    &__info {
       width: 100%;
       margin: auto 0;
       order: 2;
       border-right: 1px solid rgba(129, 129, 129, 0.2);
       padding-right: 2rem;
       display: none;

       @include desktop {
           order: 0;
           display: block;
       }

       figure {
       }

       img {
           object-fit: contain;
       }

       @include desktop {
           width: 50%;
       }
    }

    &__form {
        padding-left: 0.2rem;
        width: 100%;
        border-width: 1px;

        @include desktop {
            width: 50%;
            margin-left: 2rem;
        }
    }

    &__input-text {
        border: 1px solid rgba(129, 129, 129, .2);
        border-right: none;
        border-left: none;
        border-top: none;
        height: 35px;
        border-radius: none;
        padding: 5px;
        background-color: transparent;
        width: 100%;

        &:focus{outline: none;}
    }

    &__input-textarea {
        margin-top: 0.5rem;
        border: 1px solid rgba(129, 129, 129, .2);
        width: 100%;
        &:focus{outline: none;}
        padding: 5px;
    }

}

