//Componentes
@import './components/navbar';
@import './components/hero';
@import './components/footer';
@import './components/carousel';
@import './components/burger';
@import './components/slider';

@import './pages/about';
@import './pages/contacts';

//variables
@import './abstracts/variables';
@import './abstracts/variable';

//reset
@import './base/reset';
@import './base/typography';

@import './components/button';


