@import '../abstracts/variables';

body {
	position: relative;
}

.webside {
	display: block;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;

	&--dark {
		visibility: visible;
		opacity: 1;
		transition: all 0.5s;
	}

}

.sticky {
	position: sticky !important;
	background-color: $color-secondary !important;
	height: 60px !important;
}

.navbar {
	background: $secondary;
	color: $white;
	width: 100%;
	height: 60px;
	z-index: 10;
	position: sticky;
	top: 0;
	transition: all 0.4s ease-in-out;
	padding: 0.5rem 0 ;
	z-index: 9999;


	@include desktop {
		align-items: center;
		position: static;
		top: 0;
		width: 100%;
		margin: 0 auto;
		padding: 0 0;
	}

	@include tablet {
	}
	
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: static;

		@include desktop {
			position: relative;
		}

	}

	&__menu {
		list-style: none;
		left: -100%;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $secondary;
		position: absolute;
		top: 60px;
		left: -100%;
		width: 80%;
		min-height:90vh;
		z-index: 99;

		transition: all 0.5s ease-in-out;

		&--active {
			left: 0;
			height: auto;
		}

		@include desktop {
			position: static;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			background: none;
			height: 100%;
			min-height: 100%;
			padding: 0;
			transition: none;
		}
	}

	&__item {
		width: 100%;

		@include desktop {
			width: auto;
			position: relative;
			}

		&:hover .navbar__dropdown {
			visibility: visible;
			opacity: 1;
		}
	}

	&__link {
		position: relative;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
		border-bottom: $border-bottom-gray ;
		padding: 10px 20px;
		font-size: 13px;
		font-weight: 600;
		height: 60px;
		min-height: 60px;
		text-transform: uppercase;

		@include desktop {
			padding: 0 1.2rem;
			cursor: pointer;
			border: none;
			min-height: 40px;

			&:hover {
				color: $primary;
				transition: all .2s ease;
			}
		}
		
	}


	&__text {
		letter-spacing: 1px;
	}


	&__dropdown {
		position: relative;
		visibility: hidden;
		opacity: 0;
		background: #ddd;
		display: none;
		list-style: none;
		z-index: 999;
		transition: all 0.5s ease;

		&--active {
			visibility: visible;
			opacity: 1;
			display: block;
			transition: all 0.5s ease;

		}

		@include desktop {
			position: absolute;
			display: block;
			width: 200px;
			background: $white;
			margin: 0px 0;
			margin-top: -10px;
			border-radius: 4px;
			box-shadow: 0 0 2px rgba(0, 0, 0, .7);
			z-index: 999;

		}
	}



	&__dropdown-item {
		&:hover .navbar__sub-dropdown{
			visibility: visible;
			opacity: 1;
			left: 202;
			top: 0;
		}
	}


	&__dropdown-link {
		position: relative;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: $secondary;
		border-bottom: $border-bottom-gray ;
		padding: 10px 20px;
		font-size: 13px;
		font-weight: 500;
		min-height: 60px;

		@include desktop {
			position: relative;

			span:nth-child(1) {
				width: 90%;
			}

			span:nth-child(2) {
				margin-right: 5px;	
			}

			&:hover {
				background: #f2f2f2;
			}
		}
	}

	&__dropdown-text {

	}

	&__sub-dropdown {
		//position: relative;
		//visibility: hidden;
		display: none;
		opacity: 0;
		background: #ddd;
		list-style: none;
		z-index: -50;
		transition: all 0.8s ease;
		overflow: hidden;

		&--active {
			display: block;
			//visibility: visible;
			opacity: 1;
			transition: all 0.3s ease;

		}

		@include desktop {
			position: absolute;
			display: block;
			width: 200px;
			background: #fff;
			margin: 0px 0;
			border-radius: 4px;
			box-shadow: 0 0 2px rgba(0, 0, 0, .7);
			left: 0;
			top: 0px;
			transition: all 0.3s ease;
			z-index: -10;

		}
	}

	&__sub-dropdown-item {
	}


	&__sub-dropdown-link {
		position: relative;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: $secondary;
		border-bottom: $border-bottom-gray ;
		padding: 10px 20px;
		font-size: 13px;
		font-weight: lighter;
		min-height: 60px;
		background: #fff;
		

		@include desktop {
			&:hover {
				background: #f2f2f2;
			}
		}
	}

	&__sub-dropdown-text {

	}

	&__icon-sub-menu {
		border-top: $border-bottom-gray;
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		font-size: 1rem;
		transform: rotate(270deg);
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			font-size: 0.8rem;
		}

		&--active {
			color: #fff;
			background: $primary;
			transition: all 0.3s ease-in-out;

			.fa-chevron-down {
				transform: rotate(90deg);
				transition: all 0.3s ease;
			}
		}

		@include desktop {
			position: static;
			transform: rotate(0deg);
			border: none;
			width: auto;
			height: auto;
			margin-left: 7px;
		}

		&--rotate {
			@include desktop {
				transform: translateX(15px) rotate(270deg);
				//margin-left: 25px;
			}

		}
	}
	
	&__brand {
		width: 160px;
		height: 23px;
		z-index: 8999;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__user {
		display: flex;

		i {
			cursor: pointer;
		}
	}

	&__toggle {
		font-size: 1.3rem;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__shopping-cart {
		display: flex;
		position: relative;
		margin-right: 5px;

		i {
			margin-right: 18px;
		}

		@include desktop {
			i {
				margin-right: 30px;
			}
		}
	}

	&__shopping-counter {
		display: block;
		width: 18px;
		height: 18px;
		background: $primary;
		border-radius: 50%;
		position: absolute;
		text-align: center;
		line-height: 18px;
		right: 3px;
		top: -6px;
		font-size: 13px;

		@include desktop {
			right: 5px;
			top: 0;
		}

	}
	
	@include desktop {

		&__brand {
			width: 200px;
			height: 30px;
		}

		&__item {
		}

		&__link {
		}

		&__text {
			font-weight: bold;
			&:hover {
				color: $primary;
				transition: all 0.3s;
			}
		}

		&__icon-sub-menu {

		}

		&__toggle {
			display: none;
		}
	}
}

#navbar-index {
	@include desktop {
		background: transparent;
		position: absolute;
	}
}

//.navbar__item {
	//&:hover .navbar__dropdown {
		//visibility: visible;
		//opacity: 1;
	//}
//}



//.navbar__dropdown-item {
	//&:hover .navbar__sub-dropdown{
		//visibility: visible;
		//opacity: 1;
		//left: 202;
		//top: 0;
	//}
//}

